<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="Maciej Moroz" />
    <meta name="Description" content="Some description" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>Some Title</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>
    {% include "components/header.html" %}
    <div class="flex-box">
      {% include "components/hero.html" %}{% include "components/news.html" %}
    </div>
    {% include "components/trending.html" %} {% include "components/cards.html"
    %}
    <div class="hide-footer--onMob">{% include "components/footer.html" %}</div>

    <script src="js/nav.js" type="text/javascript"></script>
    <script src="js/swiper.js" type="text/javascript"></script>
    <script src="js/form.js" type="text/javascript"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>
  </body>
</html>
