<div class="component cards">
  <div class="wrapper">
    <div class="slider-box">
      <div class="slider">
        <div class="slider__hdr">
          <h2 class="slider__hdr__txt">HAPPENING NOW</h2>
          <div class="slider__hdr__btn">
            <div class="swiper-button--prev cards-swiper-prev">
              <svg width="6" height="10" viewBox="0 0 6 10">
                <title>Previous slide</title>
                <defs>
                  <clipPath id="previousSlideCards">
                    <rect width="6" height="10" fill="none" />
                  </clipPath>
                </defs>
                <g clip-path="url(#previousSlideCards)">
                  <path
                    d="M5,6a.908.908,0,0,1-.7-.3l-4-4A.967.967,0,0,1,.3.3.967.967,0,0,1,1.7.3L5,3.6,8.3.3A.967.967,0,0,1,9.7.3a.967.967,0,0,1,0,1.4l-4,4A.908.908,0,0,1,5,6Z"
                    transform="translate(6) rotate(90)"
                  />
                </g>
              </svg>
            </div>

            <div class="swiper-button--next cards-swiper-next">
              <svg width="6" height="10" viewBox="0 0 6 10">
                <title>Next slide</title>
                <defs>
                  <clipPath id="nexSlideCards">
                    <rect width="6" height="10" fill="none" />
                  </clipPath>
                </defs>
                <g clip-path="url(#nexSlideCards)">
                  <path
                    d="M5,6a.908.908,0,0,1-.7-.3l-4-4A.967.967,0,0,1,.3.3.967.967,0,0,1,1.7.3L5,3.6,8.3.3A.967.967,0,0,1,9.7.3a.967.967,0,0,1,0,1.4l-4,4A.908.908,0,0,1,5,6Z"
                    transform="translate(0 10) rotate(-90)"
                  />
                </g>
              </svg>
            </div>
          </div>
        </div>
        <div class="swiper-container cards-swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="slide slide--cards">
                <div class="box">
                  <div class="box--big">
                    <div class="article article--cards--big">
                      <div
                        class="article__content__img article__content__img--big"
                      >
                        <img src="img/article/1.png" alt="article image" />
                      </div>

                      <div class="article__content article__content--big">
                        <h3
                          class="article__content__hdr article__content__hdr--big"
                        >
                          CITY
                        </h3>
                        <h3
                          class="article__content__subtitle article__content__subtitle--big"
                        >
                          Cras vitae mattis lacus. Integer sit amet.
                        </h3>
                        <p
                          class="article__content__txt article__content__txt--big "
                        >
                          Lorem ipsum dolor sit amet, ipsum labitur lucilius mel
                          id, ad has appareat.
                        </p>
                        <div
                          class="article__content__timer article__content__timer--big"
                        >
                          <img
                            class="article__content__timer__icon"
                            src="img/svg/time.svg"
                            alt="time icon"
                          />
                          <span>2m <span>ago</span></span>
                        </div>
                      </div>
                    </div>
                    <div class="article article--cards--big">
                      <div
                        class="article__content__img article__content__img--big"
                      >
                        <img src="img/article/2.png" alt="article image" />
                      </div>

                      <div class="article__content article__content--big">
                        <h3
                          class="article__content__hdr article__content__hdr--big"
                        >
                          travel
                        </h3>
                        <h3
                          class="article__content__subtitle article__content__subtitle--big"
                        >
                          Cras vitae mattis lacus. Integer sit amet.
                        </h3>
                        <p
                          class="article__content__txt article__content__txt--big "
                        >
                          Lorem ipsum dolor sit amet, ipsum labitur lucilius mel
                          id, ad has appareat.
                        </p>
                        <div
                          class="article__content__timer article__content__timer--big"
                        >
                          <img
                            class="article__content__timer__icon"
                            src="img/svg/time.svg"
                            alt="time icon"
                          />
                          <span>2m <span>ago</span></span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="box--sm">
                    <div class="article article--cards--sm">
                      <div class="article__content__img">
                        <img src="img/article/3.png" alt="article image" />
                      </div>
                      <div class="article__content">
                        <h3 class="article__content__subtitle">
                          Cras vitae mattis lacus. Integer sit amet.
                        </h3>

                        <div class="article__content__timer">
                          <img
                            class="article__content__timer__icon"
                            src="img/svg/time.svg"
                            alt="time icon"
                          />
                          <span
                            >2m <span>ago</span>
                            <a
                              class="article__content__author link link--underline"
                              href="#"
                              >Worldnews</a
                            ></span
                          >
                        </div>
                      </div>
                    </div>
                    <div class="article article--cards--sm">
                      <div class="article__content__img">
                        <img src="img/article/4.png" alt="article image" />
                      </div>
                      <div class="article__content">
                        <div class="article__content__subtitle">
                          Morbi eleifend a libero
                        </div>

                        <div class="article__content__timer">
                          <img
                            class="article__content__timer__icon"
                            src="img/svg/time.svg"
                            alt="time icon"
                          />

                          <span
                            >2m <span>ago</span>
                            <a
                              class="article__content__author link link--underline"
                              href="#"
                              >Days</a
                            ></span
                          >
                        </div>
                      </div>
                    </div>
                    <div class="article article--cards--sm hide-tab">
                      <div class="article__content__img">
                        <img src="img/article/5.png" alt="article image" />
                      </div>
                      <div class="article__content">
                        <h3 class="article__content__subtitle">
                          Cras vitae mattis lacus. Integer sit amet.
                        </h3>

                        <div class="article__content__timer">
                          <img
                            class="article__content__timer__icon"
                            src="img/svg/time.svg"
                            alt="time icon"
                          />
                          <span
                            >2m <span>ago</span>
                            <a
                              class="article__content__author link link--underline"
                              href="#"
                              >Monica</a
                            ></span
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
