<footer class="footer">
  <div class="wrapper">
    <div class="footer-box">
      <div class="footer-box__el">
        <div class="footer-box__el__left hide-mob">
          <div class="header__logo--footer"><a href="#">Logo</a></div>
        </div>
        <div class="footer-box__el__right">
          <ul class="col hide-mob">
            <li><a class="link" href="#">Home</a></li>
            <li><a class="link" href="#">Discovery</a></li>
            <li><a class="link" href="#">Photos</a></li>
            <li><a class="link" href="#">Contact</a></li>
          </ul>
          <ul class="col">
            <li><a class="link" href="#">About</a></li>
            <li><a class="link" href="#">Help</a></li>
            <li><a class="link" href="#">Terms</a></li>
            <li><a class="link" href="#">Guidlines</a></li>
          </ul>
          <ul class="col">
            <li><a class="link" href="#">Testimonials</a></li>
            <li><a class="link" href="#">Advertise</a></li>
            <li><a class="link" href="#">Integrations</a></li>
            <li><a class="link" href="#">Careers</a></li>
          </ul>
        </div>
      </div>
      <div class="footer-box__el">
        <div class="footer-box__el__left">
          <div class="subscription">
            <form>
              <input
                class="input input--subscription subscription__email"
                type="email"
                name="subscription"
                id="email"
                placeholder="Email"
              />
              <button class="subscription__submit-btn" type="submit">
                <span
                  ><svg width="16" height="16" viewBox="0 0 16 16">
                    <defs>
                      <clipPath id="clip-path">
                        <rect width="16" height="16" fill="none" />
                      </clipPath>
                    </defs>
                    <g id="send" clip-path="url(#clip-path)">
                      <path
                        id="send-2"
                        data-name="send"
                        d="M10,16,8,8,0,6,16,0Z"
                        fill="#fff"
                      />
                    </g>
                  </svg>
                </span>
              </button>
              <label name="subscription"
                >Stay in touch with us for the freshest products!</label
              >
            </form>
          </div>
        </div>
        <div class="footer-box__el__right">
          asdasd
        </div>
      </div>
    </div>
  </div>
</footer>
