<header class="header">
  <div class="nav">
    <div class="nav__logo">
      <h1>Logo</h1>
    </div>
    <div class="nav__menu">
      <ul>
        <li class="nav__menu__el">
          <a class="nav__menu__el" href="#">home</a>
        </li>
        <li class="nav__menu__el"><a href="#">discovery</a></li>
        <li class="nav__menu__el"><a href="#">photos</a></li>
        <li class="nav__menu__el"><a href="#">contact</a></li>
      </ul>
    </div>
    <div class="nav__avatar">
      <img
        src="../../img/header/christopher-campbell-28567-unsplash.png"
        alt=""
      />
    </div>
  </div>
  <div class="nav__hamburger" data-menu-btn>
    <span></span>
    <span></span>
    <span></span>
  </div>
</header>
