<div class="slider-box bg--white slider-box--news">
  <div class="slider slider--news">
    <div class="component">
      <div class="wrapper">
        <div class="slider__hdr">
          <h2 class="slider__hdr__txt">more news</h2>
          <div class="slider__hdr__btn">
            <div class="swiper-button--prev news-btn-prev">
              <svg width="6" height="10" viewBox="0 0 6 10">
                <title>Previous slide</title>
                <defs>
                  <clipPath id="previousSlideNews">
                    <rect width="6" height="10" fill="none" />
                  </clipPath>
                </defs>
                <g clip-path="url(#previousSlideNews)">
                  <path
                    d="M5,6a.908.908,0,0,1-.7-.3l-4-4A.967.967,0,0,1,.3.3.967.967,0,0,1,1.7.3L5,3.6,8.3.3A.967.967,0,0,1,9.7.3a.967.967,0,0,1,0,1.4l-4,4A.908.908,0,0,1,5,6Z"
                    transform="translate(6) rotate(90)"
                  />
                </g>
              </svg>
            </div>

            <div class="swiper-button--next news-btn-next">
              <svg width="6" height="10" viewBox="0 0 6 10">
                <title>Next slide</title>
                <defs>
                  <clipPath id="nextSlideNews">
                    <rect width="6" height="10" fill="none" />
                  </clipPath>
                </defs>
                <g clip-path="url(#nextSlideNews)">
                  <path
                    d="M5,6a.908.908,0,0,1-.7-.3l-4-4A.967.967,0,0,1,.3.3.967.967,0,0,1,1.7.3L5,3.6,8.3.3A.967.967,0,0,1,9.7.3a.967.967,0,0,1,0,1.4l-4,4A.908.908,0,0,1,5,6Z"
                    transform="translate(0 10) rotate(-90)"
                  />
                </g>
              </svg>
            </div>
          </div>
        </div>
        <div class="line line--grey"></div>

        <div class="swiper-container news-swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide swiper-slide--news">
              <div class="slide slide--news">
                <div class="article article--news">
                  <div class="article__content article__content--news">
                    <h3 class="article__content__hdr">travel</h3>
                    <h3 class="article__content__subtitle">Subtitle</h3>
                    <p
                      class="article__content__txt article__content__txt--news"
                    >
                      Lorem ipsum dolor sit amet, in eam odio amet, vix id
                      nullam detracto, vidit vituperatoribus duo id. Affert
                      detraxit voluptatum vis eu, inermis eloquentiam.
                    </p>
                    <div class="article__content__timer">
                      <img
                        class="article__content__timer__icon"
                        src="img/hero/time.svg"
                        alt="time icon"
                      />
                      <span>2m <span>ago</span></span>
                    </div>
                  </div>
                </div>

                <div class="article article--news">
                  <div class="article__content article__content--news">
                    <h3 class="article__content__hdr">technology</h3>
                    <h3 class="article__content__subtitle">Subtitle</h3>
                    <div
                      class="article__content__txt article__content__txt--news"
                    >
                      Lorem ipsum dolor sit amet, in eam odio amet, vix id
                      nullam detracto, vidit vituperatoribus duo id. Affert
                      detraxit voluptatum vis eu, inermis eloquentiam.
                    </div>
                    <div class="article__content__timer">
                      <img
                        class="article__content__timer__icon"
                        src="img/hero/time.svg"
                        alt="time icon"
                      />
                      <span>2m <span>ago</span></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
