.bg--white {
  background-color: $white;
}

.slider-box {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  &--news {
    @include min-media($bpoint-desk) {
      width: 42%;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
    @include min-media($bpoint-desklg) {
      width: 32%;
    }
  }

  .slider {
    width: 100%;
    height: auto;
    color: $color-1;
    &--news {
      margin-bottom: $space-1;
      @include min-media($bpoint-tab) {
        margin-bottom: $space-1 * 2;
      }
      @include min-media($bpoint-desk) {
        margin-bottom: 0;
      }
      .component {
        margin-bottom: 0;
      }
      @include min-media($bpoint-desk) {
        max-width: 380px;
        .wrapper {
          padding: 0;
        }
      }
    }

    &__hdr {
      width: 100%;
      padding-bottom: $space-1;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      &__txt {
        display: inline-block;
        font-weight: $fw-bold;
        text-transform: uppercase;
      }
      &__btn {
        display: inline-block;
        fill: $color-11;
        .swiper-button {
          cursor: pointer;
          &--next,
          &--prev {
            cursor: pointer;
            display: inline-block;
            &:hover {
              fill: $color-1;
            }
          }
          &--prev {
            padding: 0 $space-1 0 0;
          }
          &--next {
            padding: 0 0 0 $space-1;
          }
        }
      }
    }

    .swiper-container {
      width: 100%;
      height: auto;
    }

    .swiper-slide {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }
  }

  .slide {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    @include min-media($bpoint-tab) {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
    }
    &--news {
      @include min-media($bpoint-desk) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
      }
    }
    &--cards {
      display: flex;
      flex-wrap: wrap;
    }

    .article {
      width: 100%;
      border-radius: 6px;
      &--trending {
        margin-bottom: $space-1;
        @include min-media($bpoint-tab) {
          margin-left: $space-1;
          &:first-child {
            margin-left: 0;
          }
        }
      }
      &--news:first-child {
        @include max-media($bpoint-desk) {
          margin-right: $space-3;
        }
        @media (max-width: 767px) {
          margin-right: 0;
        }
        &:last-child {
          @include max-media($bpoint-desk) {
            margin-left: $space-3;
          }
          @media (max-width: 767px) {
            margin-left: 0;
          }
        }
      }
      &--cards--big {
        position: relative;
        margin-bottom: $space-1;
      }
      &--cards--sm {
        @include min-media($bpoint-tab) {
          margin-left: $space-1;
          &:first-child {
            margin-left: 0;
          }
        }
        @include min-media($bpoint-desk) {
          margin-left: 0;
        }
      }
      &__content {
        padding: $space-4;
        &--news {
          padding: 0;
        }
        &--big {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          display: flex;
          flex-direction: column;
          min-height: 300px;
        }
        &__hdr {
          padding-bottom: $space-3;
          color: $color-9;
          font-weight: $fw-bold;
          text-transform: uppercase;
          &--big {
            flex-grow: 2;
            color: $color-5;
          }
        }
        &__img {
          img {
            width: 100%;
            overflow: hidden;
          }
          &--big {
            min-height: 300px;
            width: 100%;
            height: auto;
            overflow: hidden;
            img {
              min-height: 300px;
              height: auto;
              width: 100%;
              object-fit: cover;
            }
          }
        }
        &__subtitle {
          font-weight: $fw-bold;
          &--big {
            color: $color-5;
          }
        }
        &__txt {
          margin-bottom: $space-2;
          max-height: 1.6 * 2; // line-height * 2
          font-family: $font-2;
          font-size: $font-size-h4;
          color: $color-2;
          overflow: hidden;
          -o-text-overflow: ellipsis;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          &--news {
            font-size: $font-size-h3;
          }
          &--big {
            color: $color-5;
          }
        }
        &__timer {
          display: flex;
          flex-wrap: nowrap;
          color: $color-2;
          font-size: $font-size-h4;
          &--big {
            color: $color-5;
            padding-bottom: $space-1;
          }
          &__icon {
            padding-right: $space-3 * 0.5;
          }
        }
      }
    }
  }
}

.box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  &--big {
    width: 100%;
    height: auto;
    @include min-media($bpoint-desk) {
      max-width: 760px;
    }
  }

  &--sm {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    min-width: 284px;
    @include min-media($bpoint-tab) {
      flex-direction: row;
    }
    @include min-media($bpoint-desk) {
      flex-direction: column;
      max-width: 360px;
      margin-left: $space-1;
    }
  }
}
