.header {
  position: relative;
  width: 100%;
  min-width: $cont-min-width;
  height: 50px;
  background-color: $color-4;
  z-index: 9999;

  &__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
    font-size: $font-size-h4;
    color: $color-9;
    font-weight: $fw-bold;
    @include min-media($bpoint-tab) {
      left: $space-1;
    }
  }
  &__avatar {
    position: absolute;
    top: 13px;

    right: $base-unit;
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.25, 1.66, 0.9, 3);
    transition: -webkit-transform 0.5s cubic-bezier(0.25, 1.66, 0.9, 3);
    -o-transition: transform 0.5s cubic-bezier(0.25, 1.66, 0.9, 3);
    transition: transform 0.5s cubic-bezier(0.25, 1.66, 0.9, 3);
    transition: transform 0.5s cubic-bezier(0.25, 1.66, 0.9, 3),
      -webkit-transform 0.5s cubic-bezier(0.25, 1.66, 0.9, 3);
    transition: transform 0.5s cubic-bezier(0.25, 1.66, 0.9, 3),
      -webkit-transform 0.5s cubic-bezier(0.25, 1.66, 0.9, 3);

    &:hover {
      -webkit-transform: scale3d(1.5, 1.5, 1.5);
      transform: scale3d(1.5);
    }

    img {
      width: $base-unit;
      height: $base-unit;
    }
  }
}
.nav {
  position: absolute;

  top: 0;
  left: -350px;
  width: 287px;
  min-width: 287px;
  height: auto;
  min-height: 100vh;
  background-color: $color-4;
  -webkit-box-shadow: 20px 0 30px rgba($black, 0.6);
  box-shadow: 20px 0 30px rgba($black, 0.6);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  .open-menu & {
    left: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  @include min-media($bpoint-tab) {
    left: auto;
    padding: 12px 0;
    min-height: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent; // unset - IE 11 error?
    width: auto;
    right: 40px;
  }

  &__logo {
    margin: $space-1;
    text-transform: uppercase;
    font-size: $font-size-h4;
    color: $color-9;
    font-weight: $fw-bold;
    @include min-media($bpoint-tab) {
      display: none;
    }
  }
  &__el {
    position: relative;
    @include min-media($bpoint-tab) {
      margin: 0 $space-3 0 0;
      float: left;
    }
    &__txt,
    &__icon {
      display: inline-block;
      cursor: pointer;
    }
    &__txt {
      text-transform: uppercase;
      font-size: $font-size-h4;
    }
    &__icon {
      width: $base-unit;
      height: $base-unit;
      margin: $space-1 $space-3 0 $space-1;
      svg {
        fill: $color-11;
        fill-rule: evenodd;
      }
      @include min-media($bpoint-tab) {
        display: none;
      }

      &--avatar {
        border-radius: 50%;
        -webkit-transition: -webkit-transform 0.5s
          cubic-bezier(0.25, 1.66, 0.9, 3);
        transition: -webkit-transform 0.5s cubic-bezier(0.25, 1.66, 0.9, 3);
        -o-transition: transform 0.5s cubic-bezier(0.25, 1.66, 0.9, 3);
        -webkit-transition: -webkit-transform 0.5s
          cubic-bezier(0.25, 1.66, 0.9, 3);
        transition: transform 0.5s cubic-bezier(0.25, 1.66, 0.9, 3);
        transition: transform 0.5s cubic-bezier(0.25, 1.66, 0.9, 3),
          -webkit-transform 0.5s cubic-bezier(0.25, 1.66, 0.9, 3);
        transition: transform 0.5s cubic-bezier(0.25, 1.66, 0.9, 3),
          -webkit-transform 0.5s cubic-bezier(0.25, 1.66, 0.9, 3);
        margin-bottom: $space-1;
      }
    }
    &--avatar {
      @include min-media($bpoint-tab) {
        .nav__el__txt {
          display: none;
        }
      }
    }
    &:hover {
      .sub-nav {
        min-height: 100px;
        height: auto;
        -webkit-transition: height 1s ease;
        -o-transition: height 1s ease;
        transition: height 1s ease;
      }
      .nav__el__txt {
        font-weight: $fw-bold;
      }
      .nav__el__icon {
        svg {
          fill: $color-1;
        }
      }
    }
  }
}
.sub-nav {
  display: block;
  height: 0px;
  overflow: hidden;
  @include min-media($bpoint-tab) {
    position: absolute;

    @-moz-document url-prefix() {
      top: 20px;
      left: 0;
    }
    @supports (-ms-ime-align: auto) {
      top: 20px;
      left: 0;
    }
    top: 30px;
    border-radius: 0 0 6px 6px;
    display: inline-block;
    width: 200px;
    -webkit-transition: height 1s ease;
    -o-transition: height 1s ease;
    transition: height 1s ease;
    & .active {
      -webkit-transition: height 1s ease;
      -o-transition: height 1s ease;
      transition: height 1s ease;
    }
  }
  &__mask {
    @include min-media($bpoint-tab) {
      width: 200px;
      min-height: 200px;
      height: auto;
      background-color: $color-4;
      z-index: 9999999;
    }
  }

  &__el {
    margin: $space-3 0 $space-3 $space-3 * 5;

    @include min-media($bpoint-tab) {
      padding: $space-3;
      margin: 0;
      background-color: $color-4;
    }
    &__second-lvl {
      height: 0px;
      overflow: hidden;

      &__el {
        margin: 0 0 $space-3 $space-3 * 6;
        @include min-media($bpoint-tab) {
          margin-left: $space-1 * 1.5;
          width: 200px;
          &:hover {
            font-weight: $fw-bold;
          }
        }
      }
    }
    &:hover {
      font-weight: $fw-bold;
    }
  }
}
.active {
  height: 100%;
  -webkit-transition: height 1s ease;
  -o-transition: height 1s ease;
  transition: height 1s ease;

  @include min-media($bpoint-tab) {
    min-height: 100px;
    height: auto;
    margin-left: -$base-unit;
    width: 200px;
  }
}
.hamburger {
  position: absolute;
  top: 13px;
  left: $base-unit;
  width: $space-1;
  height: $space-1;
  cursor: pointer;
  @media (min-width: $bpoint-tab) {
    display: none;
  }
  span {
    display: block;
    background-color: $black;
    width: $base-unit;
    height: 2px;
    margin: 3px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;

    &:nth-child(2) {
      width: $base-unit * 0.6875;
      -webkit-transition: 0.1s;
      -o-transition: 0.1s;
      transition: 0.1s;
    }
    .open-menu &:nth-child(2) {
      visibility: hidden;
    }
    .open-menu &:nth-child(1) {
      -webkit-transform: rotate(45deg) translate(0, 7px);
      -ms-transform: rotate(45deg) translate(0, 7px);
      transform: rotate(45deg) translate(0, 7px);
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
    }
    .open-menu &:nth-child(3) {
      -webkit-transform: rotate(-45deg) translate(0, -7px);
      -ms-transform: rotate(-45deg) translate(0, -7px);
      transform: rotate(-45deg) translate(0, -7px);
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
    }
  }
}
