.slider-box {
  width: 100%;
  height: auto;
  display: flex;
  background-color: $white;

  align-items: center;
  @include min-media($bpoint-desk) {
    width: 42%;
    justify-content: center;
  }
  @include min-media($bpoint-desklg) {
    width: 32%;
  }
  .slider {
    width: 100%;
    height: auto;
    color: $color-1;
    @include min-media($bpoint-desk) {
      max-width: 380px;
      .wrapper {
        padding: 0;
      }
    }

    &__hdr {
      width: 100%;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      &__txt {
        display: inline-block;
        font-weight: $fw-bold;
        text-transform: uppercase;
      }
      &__btn {
        display: inline-block;
        fill: $color-11;

        .swiper-button {
          &--next,
          &--prev {
            display: inline-block;
            &:hover {
              fill: $color-1;
            }
          }
          &--prev {
            padding: 0 $space-1 0 0;
          }
          &--next {
            padding: 0 0 0 $space-1;
          }
        }
      }
    }

    .swiper-container {
      width: 100%;
      height: auto;
    }
    .swiper-slide {
      font-size: 18px;
      background: #fff;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
  }
  .slide {
    display: flex;
    flex-direction: column;
    @include min-media($bpoint-tab) {
      flex-direction: row;
    }
    @include min-media($bpoint-desk) {
      flex-direction: column;
    }
    .article {
      &:first-child {
        @include max-media($bpoint-desk) {
          margin-right: $space-3;
        }
        @media (max-width: 767px) {
          margin-right: 0;
        }

        &:last-child {
          @include max-media($bpoint-desk) {
            margin-left: $space-3;
          }
          @media (max-width: 767px) {
            margin-left: 0;
          }
        }
      }

      margin-bottom: $space-1;
      &__hdr {
        color: $color-9;
        font-weight: $fw-bold;
        text-transform: uppercase;
        padding-bottom: $space-3;
      }
      &__subtitle {
        font-weight: $fw-bold;
      }
      &__txt {
        color: $color-2;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        max-height: 1.6 * 2;
      }
      &__timer {
        color: $color-2;
        &__icon {
          padding-right: $space-3 * 0.5;
        }
      }
    }
  }
}
